@import url('common_style.css');

/* 메인 페이지 높이 조정 */
#main {padding-bottom:var(--footer-height);}
h2 {display:none;}

/* header */
.home_header {height:75px; background-color:var(--main-color); display:flex; justify-content:space-between; align-items:center; padding-left:var(--padding-side); box-sizing:border-box;}
.home_header .main_logo {height:75px; display:flex; flex-direction: row; align-items:center;}
.home_header .main_logo img{width:55px; margin-right:9px;}
.home_header .main_logo .main_title{color:#fdfdfd; font-weight:100; position:relative; font-family: 'Cute Font', cursive;}
.home_header .main_logo .main_title .first{font-size: 35px;}
.home_header .main_logo .sub_title {font-size:25px; position:absolute; left:0px; top:55px; white-space:nowrap;}
.home_header .hamburger_box img {display:block; margin-right:var(--padding-side);}

/* 주요 서비스 */
.main_service {width:100%; padding:var(--padding-side); box-sizing:border-box; margin-bottom: 5px; margin-top:10px;}
.ms_link_box {width:100%; display:flex; flex-direction:row; justify-content:space-between; margin-bottom: 30px;}
.ms_link_box a {width:30%; display:flex; flex-direction:column; align-items:center; box-sizing:border-box; border:1px solid #cccccc; border-radius: 4px; padding:10px; position:relative;}
.ms_link_box a:first-child, .ms_link_box a:nth-child(2) {margin-right:4.5%;}
.ms_link_box a span {display:block; width:100%; font-size:17px; box-sizing:border-box; text-align:center; margin-bottom:10px; position:absolute; bottom:0;}
.ms_link_box a img {width:70%; margin-bottom:25px;}
.border {background-color:#cccccc; height:1px; width:100%; padding:0 var(--padding-side); box-sizing:border-box;}

/* 메뉴 부분 */
.menu1 {width: 100%; margin:0 auto; background-color:var(--main-bg-color);}
.menu1_title {display:block; padding:0 var(--padding-side); box-sizing:border-box; margin-bottom: 20px; font-size: 18px;}
.menu1>div {display:flex; flex-direction:row; margin-bottom:20px;}
.panel_box {width:33.3%; display:flex; justify-content:center;}
.menu1 a {width:60%; box-sizing:border-box; margin:0; border:none; display:flex; flex-direction: column; align-items:center;}
.menu1 a:hover, .menu1 a:focus {background-color:var(--main-bg-color);}
.menu1 a>img {width:100%; margin-bottom:5px;}


