@import url('common_style.css');

/* 메인 페이지 값 조정 */
.main_inner {padding: 0 var(--padding-side); margin-top: 20px;}
h2 {display:none;}

/* 로그인 페이지 (첫 화면) */
.login_header {position:relative; background: url(../images/login/title_background.png) no-repeat; background-size:cover; height:296px; display:flex; justify-content:center; align-items:center; background-color:var(--main-bg-color);}
.login_header .main_logo {display:flex; flex-direction: row; align-items:center; position:relative; left:-20px;} 
.login_header .main_logo img{width:80px; margin-right:5px;}
.login_header .main_logo .main_title{color:#ffffff; font-weight:100; position:relative; font-family: 'Cute Font', cursive;}
.login_header .main_logo .main_title .first{font-size: 40px;}
.login_header .main_logo .sub_title {font-size:15px; position:absolute; left:3px; top:42px; white-space:nowrap; font-family: 'Noto Sans KR', sans-serif;}

/* 회원가입 안내 */
.join {color:var(--main-color);}
.signup_text_box {margin-bottom: 20px;}

/* 아이디 로그인 */
#login_box {margin-bottom: 30px;}
#login_box input {width:100%; border:1px solid #c5c5c5; padding:15px 10px; padding-left:60px; box-sizing:border-box; font-size:17px; border-radius:3px;}
#login_box label {display:block; position:relative; margin-bottom:10px;}
#login_box label>img {display:block; position:absolute; top:50%; left:20px; transform:translate(0, -50%);}
#do_id_login {display:block; width:100%; padding: 17px 20px; box-sizing:border-box; text-align:center; border-radius:3px; background-color:var(--main-color); color:#ffffff; font-size:20px;}

/* 다른 로그인 */
.d_login_box {padding-bottom: 50px;}
.d_text_box {margin-bottom: 10px;}
.d_logins {display:none;}
.d_login>a {display:flex; align-items:center; justify-content:center; font-size:18px; border:1px solid #e1e1e1; padding:5px 10px; margin-bottom:10px; border-radius: 3px; font-size: 17px;}
.d_login>a>img {margin-right:10px; width:40px;}
.d_text_box {background: url(../images/common/d_line.png) center repeat-x; display:flex; justify-content:center;}
.d_text_line {background-color:var(--main-bg-color); padding:5px 15px; font-size:16px; display:flex; flex-direction:row; align-items:center;}
.d_text_line>.downarrow {width:15px; height:15px; margin-left:10px;}
.d_text_line>.uparrow {width:15px; height:15px; margin-left:10px; display:none;}


