@import url('common_style.css');

/* 메인 페이지 높이 조정 */
#main {padding-bottom:var(--footer-height);}
.main_inner {padding: var(--padding-side); box-sizing:border-box;}
h1, h2 {display:none;}

/* header */
.home_header {height:75px; background-color:var(--main-color); display:flex; justify-content:space-between; align-items:center; padding-left:var(--padding-side); box-sizing:border-box;}
.home_header .main_logo {height:75px; display:flex; flex-direction: row; align-items:center;}
.home_header .main_logo img{width:55px; margin-right:9px;}
.home_header .main_logo .main_title{color:#fdfdfd; font-weight:100; position:relative; font-family: 'Cute Font', cursive;}
.home_header .main_logo .main_title .first{font-size: 35px;}
.home_header .main_logo .sub_title {font-size:25px; position:absolute; left:0px; top:55px; white-space:nowrap;}
.home_header .hamburger_box img {display:block; margin-right:var(--padding-side);}

/* 지도 */