@import url('common_style.css');

/* 메인 페이지 높이 조정 */
#main {padding-bottom:var(--footer-height); background-color:#efefef; overflow:hidden;}
h1, h2 {display:none;}

/* header */
.home_header {height:75px; background-color:var(--main-color); display:flex; justify-content:space-between; align-items:center; padding-left:var(--padding-side); box-sizing:border-box;}
.home_header .main_logo {height:75px; display:flex; flex-direction: row; align-items:center;}
.home_header .main_logo img{width:55px; margin-right:9px;}
.home_header .main_logo .main_title{color:#fdfdfd; font-weight:100; position:relative; font-family: 'Cute Font', cursive;}
.home_header .main_logo .main_title .first{font-size: 35px;}
.home_header .main_logo .sub_title {font-size:25px; position:absolute; left:0px; top:55px; white-space:nowrap;}
.home_header .hamburger_box img {display:block; margin-right:var(--padding-side);}

/* 타이머 */
*{margin:0; padding:0; box-sizing: border-box;}

html{
	text-align: center;
	background-color:#EFEFEF;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.app {
	width: 300vw;

	transition: 0.4s;
}


html.timer-mode .app{
	transform: translate(-200vw);
	-webkit-transform: translate(-200vw);
}


/*-----------------------
	Clocks General
-----------------------*/

.container {
	position: relative;
	float: left;
	width: 100vw;
	max-width: none; /* canceling auto styles from materialize.css */
}

form{
	width: 100%;
	height: 85px;
	padding: 10px;
	margin: 50px auto;
	color: #0277BD;
	border-radius: 2px;

}

form a{
	margin: 0 5px;
}

.control{
	display: inline-block;
	width: 130px;
	vertical-align: middle;
}

.input-field{
	display: inline-block;
	padding-right: 20px;
}

.checkbox{
	padding-left: 20px;
}

.clock {
	position: relative;
	height: 300px;
	max-width: 700px;
	width: 100%;
	display: block;
	margin: 50px auto;

	font-size: 150px;
	color: #0277BD;
	text-align: center;
	line-height: 300px;

	background-color: #fff;
	border-radius: 2px;

	transition: all 0.4s ease-in, box-shadow 0.2s;
}

.clock.inactive {
	color: #9e9e9e;
}

.clock .overlay{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.switch label .lever:after{
	background-color:#fff;
}


/* timer */

#timer-input {
	font-size: 32px;
	text-align: center;
}

.timer-btn{
	font-size: 32px;
	cursor: pointer;
}

/*-----------------------
	Modals
-----------------------*/

.modal{
	width: 40%;
}

.dismiss-alarm-sounds{
	float:none !important;
}

/*-----------------------
	Responsiveness
-----------------------*/

@media (max-width: 800px){

	.switch-clocks a{
		padding: 20px;
	}

	form{
		height: auto;
		padding: 10px;
		margin: 10px auto;
	}

	.checkbox{
		padding-left: 0;
		display: none;
	}

	.clock{
		font-size: 60px;
		height: 180px;
		line-height: 180px;
		margin-top:20px;
	}

	.stopwatch form a{
		padding: 0 1rem;
	}

	.modal{
		width: 80%;
	}

}

